/* container */
.container {width: 1000px; margin: 0 auto;}

/* row */
.row {position: relative; margin: 0 20px;}

/* header */
#header .header-data {
    font-weight: 600;
    font-size: 12px;
    padding-top: 30px;
    display: block;
    color: #a8a8a8;
}
#header .header-title {
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px; 
    margin-bottom: 15px;
}
#header .header-id {
    position: absolute; right: 0; bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    /*text-align: center;
    line-height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(149.16deg, #A4A9B5 10.18%, rgba(164, 169, 181, 0) 81.31%), #C4C4C4;
}

/* bestM */
.bestM .best-title .bt-stit {color: #da5e7c; font-size: 12px; line-height: 1.67;}
.bestM .best-title .bt-tit {font-size: 22px; padding-bottom: 5px;}
.bestM .best-title .bt-desc {font-size: 22px; font-weight: 300; color: #818181; margin-bottom: 10px;}


/* mediaquery */
@media (max-width: 1020px){
    .container {width: 100%;}
}